.switch-container {
  background-color: #15273b;
  width: 75px;
  border-radius: 50px;
  border: solid 4px #15273b;
}
.switch-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.on {
  background-color: #52cf71;
  transform: translateX(45px);
  transition: 0.4s;
}
.off {
  background-color: #cccccc;
  transition: 0.4s;
}
